services:
  - type: web
    name: borrowboard
    env: node
    plan: free
    buildCommand: npm run build
    startCommand: node dist/server.js
    envVars:
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
